.cs142-topbar-appBar {
  height: 60;
  justify-content: "center";
}
.upload,
.button {
  background-color: #4285f4;
  color: "#fff";
}
.button:hover {
  background-color: #3367d6;
}

.upload {
  margin: 0 15px;
}
